{% extends "layout.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Discover EasyBib's hypermedia API!<small>Click around</small></h1>
    </div>

    <div class="page-header"><h3>The hypermedia response <br/>
            <small>for GET
                <a href="{{ app.url_generator.generate('discover', { 'url':url }) }}">{{ url }}</a>
            </small></h3></div>
    {{ block('resourceBlock') }}

    <div class="page-header"><h3>The Access Token</h3></div>
    {{ block('accessToken') }}

    <div class="page-header"><h3>Raw Request / Response Messages</h3></div>
    {{ block('messageBlock') }}

{% endblock %}

{% block accessToken %}
<div class="well display-token">
    <pre>{{ token|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
</div>
{% endblock %}

{% block messageBlock %}
<div class="well display-response">
    <pre>{{ responseMessage }}</pre>
</div>
{% endblock %}

{% block resourceBlock %}
<div class="well display-hypermedia">
    <pre>{{ hypermediaResponse|json_encode(constant('JSON_PRETTY_PRINT'))|replace({'\\/':'/', '\\"':"'"})|raw }}</pre>
</div>
{% endblock %}